<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <!-- Meta OG -->
      <meta property="og:title" content="RODA - HSTS test" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:url" content="https://www.roda-test-hsts.onrender.com" />
      <meta property="og:description" content="Testing HSTS connection to be approved in https://hstspreload.org/" />

      <title>RODA - HSTS testk</title>
      <meta name="language" content="en-US" />
      <meta name="url" content="https://www.roda-test-hsts.onrender.com" />
      <meta name="description" content="Conjure Facebook Ads & Google Ads in seconds. Enchant
citation-rich articles in minutes. Transfigure your company documents and speak to them. Charm your customers better, and out-execute your competitors." />
      <meta name="keywords" content="maiwriter, marketing, spellbook, ads, documents, google ads, facebook ads, articles, transform, transfigure, charm" />
      <link rel="canonical" href="https://www.roda-test-hsts.onrender.com" />
   </head>
   <body>
      <%= yield %>
   </body>
</html>
